{
	email {$ACME_EMAIL}
}

myautoscrap.co.uk, www.myautoscrap.co.uk {
	encode gzip

	request_body {
		max_size 50MB
	}

	handle /api* {
		reverse_proxy api:3000
	}

	handle /uploads* {
		reverse_proxy api:3000
	}

	handle {
		reverse_proxy frontend:80
	}
}
